{% extends 'base.html' %}

{% block content %}
<div>
    {{ question.title }}
</div>
<div>
 <form action="{% url 'vote' question_pk=question.pk %}" method="post">
 {% csrf_token %}
        <table class="table table-stripped table-bordered">
            <tbody>
                {% for choice in  question.choice_set.all  %}
                <tr>
                    <td><div class="radio"><label><input type="radio" name="vote" value="{{ choice.pk }}">
                        {{ choice.title }}</label></div>
                    </td>
                    <td>
                        {{ choice.votes }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
     <input class="btn btn-default" type="submit" value="Submit">
 </form>
</div>
{% endblock %}
